.cart{
    background-color: rgba(202, 239, 243, 0.966);
    border-radius: 10px;
    padding-bottom: 80px;
    width: 32%;
    position: fixed;
    right: 3px; 
    height: 360px;
    overflow-y: auto;
}
.cart h2{
    padding-top: 1px;
    padding-bottom: 2px;
    color: rgb(22, 84, 201);
    font-family: 'Times New Roman', Times, serif;
}
.cart button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 143, 165);
    font-size: 17px;
    cursor: pointer;
}

.cart-div{
    display: flex;
    padding-left: 2%;
    align-items: center;
    text-align: start;
    
}
.cart-div img {
    width: 47px;
    height: 47px;
    padding: 10px;
    border-radius: 50%;
}
.cart button:hover{
    background-color: rgb(255, 74, 111);
}

@media  only screen and (max-width: 668px) {
    .cart{
        width: 42%;
        height: 300px;
    }
    .cart h2{
        padding-top: 1px;
        padding-bottom: 1px;
        color: rgb(22, 84, 201);
    }
    .cart button{
        padding: 4px;
    }
    .cart-div img {
        width: 45px;
        height: 45px;
        padding: 5px;
        border-radius: 50%;
        padding-top: 0px;
    }
}
@media  only screen and (min-width: 669px) and (max-width: 825px) {
    .cart{
        width: 40%;
        height: 340px;
    }
    .cart h2{
        padding-top: 1px;
        padding-bottom: 1px;
        color: rgb(22, 84, 201);
    }
    .cart button{
        padding: 3px;
    }
    .cart-div img {
        width: 56px;
        height: 56px;
        padding: 5px;
        border-radius: 50%;
        padding-top: 12px;
    }
}
