.product{
    background-color: rgb(253, 228, 174);
    border-radius: 15px;
    border: 1px rgb(235, 203, 208);
    
}

.product img{
    height: 200px;
    width: 170px;
}
.product-info{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.info{
    color: rgb(95, 94, 94);
    
}
.add-btn{
    width: 100%;
    padding: 4%;
    background-color: rgb(253, 156, 175);
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: rgb(21, 8, 44);
   
}
.add-btn strong{
    padding-right: 8px;
}
.add-btn:hover{
    background-color: rgb(255, 125, 151);
}